<app-header [cartCount]="cartCount" [billing]="billing"></app-header>
<div class="container productDetails">
	<p>
		<a routerLink="/">Home</a>&nbsp;&nbsp;>&nbsp;
		<a>{{category_name}} </a>&nbsp;&nbsp;>&nbsp;<a *ngIf="sub_name">{{sub_name}}</a>>&nbsp;{{prodName}}
	</p>
	<div class="row">

		<div class="col-md-1"></div>
        <div class="col-md-5">
            <img id="myImg" src="{{product_image}}" [imageZoom]="zoomedImageSrc" alt="Snow">
            <div class="row">
                <div class="col-md-9">
                    <div class="img">
                        <img *ngFor="let img of prodImages" [src]="img.sku_image" class="prod-images"
                            (click)="showBigImage(img.sku_image)">
                    </div>
                </div>
            </div>

        </div>
		<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 details">
			<h4>{{prodName}}</h4>
			<!-- <i *ngFor="let item of starList; let i=index " class="fa fa-star"></i>
			&nbsp;&nbsp;&nbsp; -->
			<!-- <ngb-rating [(rate)]="products.rating" required></ngb-rating> -->
			<!-- <div class="row">
				<fieldset class="rating">
					<input type="radio" id="star5" name="rating" value="5" (click)="changeRate('5')" />
					<label class="full" for="star5" title=""></label>
					<input type="radio" id="star4" name="rating" value="4" (click)="changeRate('4')" /><label
						class="full" for="star4" title=""></label>
					<input type="radio" id="star3" name="rating" value="3" (click)="changeRate('3')" /><label
						class="full" for="star3" title=""></label>
					<input type="radio" id="star2" name="rating" value="2" (click)="changeRate('2')" /><label
						class="full" for="star2" title=""></label>
					<input type="radio" id="star1" name="rating" value="1" (click)="changeRate('1')" /><label
						class="full" for="star1" title=""></label>
				</fieldset>
			</div> -->
			<!-- <span class="rate">Rating : 5</span> -->
			<!-- <ngb-rating [(rate)]="rate"></ngb-rating> -->
			<div class="row">
				<div class="col-md-3">
					<p class="size">Size
						<br />
						<a *ngFor="let data of skuData" (click)="changeSize(data.skid )">{{data.size}}</a> &nbsp;
						<!-- <a>256gb</a> -->
					</p>
				</div>
				<div class="col-md-9">
					<!-- <p>color</p>
					{{filter_color || '-'}} -->
					<!-- <a class="black"></a>
					<a class="cream"></a> -->


				</div>
			</div>

			<p><strong>Price : BD:</strong> {{selling_price}}
				<span>
					<strike><strong>BD : </strong> {{actual_price}}</strike>(Inclusive of all taxes)</span>
			</p>
			<p class="stoke">{{stackCheck}}</p>
			<p>
				<span>Sold By {{first_name}} {{last_name}} &</span> {{othershops}} Other |
				<span>Fulfilled by Mahalli</span>
			</p>
			<br />
			<button class="btn btn-maroon" (click)="checkProdQuty1(prodId)">Buy Now</button>
			<button class="btn btn-maroon add-cart" (click)="checkProdQuty(prodId)">Add to
				Cart</button>
		</div>

	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<span class="close">&times;</span>
		<img class="modal-content" id="img01">
		<div id="caption"></div>
	</div>
	<br />

	<div class="row desription">
		<h5>Description</h5>
		<div class="col-md-12">
			<p>{{description}}
			</p>
		</div>
	</div>
	<div class="row desription">

		<h5>Specification</h5>
		<br />

		<div class="col-md-12">
			<p>{{specification}}</p>
			<!-- <div class="row">
				<div class="col-md-6">
					<ul>
						<li>
							<img src="assets/images/bionic.png"> A11 Bionic processor
						</li>
						<li>
							<img src="assets/images/memory.png"> 64GB internal storage
						</li>
						<li>
							<img src="assets/images/ram.png"> 3GB RAM
						</li>
						<li>
							<img src="assets/images/sim.png"> Single SIM (Nano SIM)
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li>
							<img src="assets/images/camera.png"> Dual 12 M. Pixels rear & 7 M.Pixel selfie
						</li>
						<li>
							<img src="assets/images/battery.png"> 2716 mAh battery
						</li>
						<li>
							<img src="assets/images/phone.png"> 5.8 inch screen
						</li>
						<li>
							<img src="assets/images/apple.png"> iOS 11
						</li>
					</ul>
				</div>
			</div> -->
		</div>
	</div>

	<div class="row desription" hidden>
		<h5>Reviews</h5>
		<br />

		<div class="col-md-12">

			<!-- <p>Showing 1-3 of 71 reviews</p> -->
			<div *ngIf="!rateData">
				<!-- <i *ngFor="let item of starList; let i=index " class="fa fa-star"></i>
				<p>By
					<spn class="name">Madhusudhan</spn>&nbsp;&nbsp;&nbsp; on 20 June 2018</p>
				<p>
					<span>Colour : Black</span> &nbsp;|
					<span class="maroon">Verified Purchase</span>
				</p>
				<p>Slow internet Speed.. Hong Mobile... charging ok ok ... less than 10000</p> -->
				<input type="text" class="cust-inp" placeholder="Write a comment..." [(ngModel)]="review">
				<button class="btn btn-maroon" (click)="RateReview()">
					Post
				</button>
			</div>
			<div *ngFor="let item of rateData;let i=index;">
				<ngb-rating [(rate)]="item.rating" readonly="true"></ngb-rating>
				<p>By
					<spn class="name">{{item.first_name + item.last_name}}</spn>&nbsp;&nbsp;&nbsp; on {{item.date}}</p>
				<!-- <p>
					<span>Colour : Black</span> &nbsp;|
					<span class="maroon">Verified Purchase</span>
				</p> -->
				<p>{{item.review}}</p>
				<input type="text" name="{{i}}" placeholder="Write a comment..." [(ngModel)]="Reviews" id="{{i}}">
				<button class="btn btn-maroon" (click)="RateReview()">
					Post
				</button>
			</div>

			<div>
				<!-- <i *ngFor="let item of starList; let i=index " class="fa fa-star"></i>
				<p>By
					<spn class="name">Pawan kalyan</spn>&nbsp;&nbsp;&nbsp; on 20 June 2018</p>
				<p>
					<span>Colour : Black</span> &nbsp;|
					<span class="maroon">Verified Purchase</span>
				</p> -->
				<!-- <div *ngFor="let item of rateData">
					<p>{{item.review}}</p>

				</div> -->
				<!-- <input type="text" placeholder="Write a comment...">
				<button class="btn btn-maroon">
					Post
				</button> -->
			</div>

		</div>
	</div>
</div>