<div class="container">
    <div class="row">
        <div class="col-md-3 logo">
            <img src="assets/images/logo.png" class="img-fluid" alt="Responsive image">
            <hr />

            <p>{{"common.loreum1" | translate}}</p>
            <br />
            <div class="address">
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true">&nbsp;&nbsp;Mahalli Services W.L.L.
                        ,
                        <br />Office# 2174, Road# 2755, Block# 327</i>
                </p>
                <p>
                    <i class="fa fa-envelope-square" aria-hidden="true"> &nbsp;&nbsp;info@mahalimall.com</i>
                </p>

                <p>
                    <i class="fa fa-phone-square" aria-hidden="true">&nbsp;&nbsp; +97317555666</i>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Mahali
                <strong>Information</strong>
            </h4>
            <hr />
            <ul>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a routerLink="/aboutus">About Mahali</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Top Sellers</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Our Blog</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>New Products</a>
                </li>
                <!-- <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Secure shopping</a>
                </li> -->
            </ul>
        </div>
        <div class="col-md-3">
            <h4>My
                <strong>Account</strong>
            </h4>
            <hr />
            <ul>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a (click)="myaccount()">My Account</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Account Information</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Address Books</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Order History</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Review and Ratings</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Returns Request</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href>Newsletter</a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href="http://www.mahalli.com/mahalivendorecom/" target="_blank">Login as a Vendor </a>
                </li>
                <li>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
                    <a href="http://www.mahalli.com/mahaliadmin/wholesaler" target="_blank">Partner with
                        Wholesaler</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Photo
                <strong>Instagram</strong>
            </h4>
            <hr />
            <br />

            <div class="row">
                <div class="d-flex">
                    <div><img src="assets/images/insta-1.jpg"></div>
                    <div><img src="assets/images/insta-2.jpg"></div>
                    <div><img src="assets/images/insta-3.jpg"></div>
                    <div><img src="assets/images/insta-4.jpg"></div>
                    <div><img src="assets/images/insta-1.jpg"></div>
                    <div><img src="assets/images/insta-2.jpg"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row bttom">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <p>@2018
                <strong>mahalimall.com</strong>, all right reserved</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 up-icon">
            <a (click)="moveUp()">
                <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 bottom-cont">
            <p>
                <a href="">Contact Us</a>&nbsp;&nbsp;&nbsp;
                <a href="">Terms of Use</a>&nbsp;&nbsp;&nbsp;
                <a href="">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>