.circle-indicators{
    .active{
        background-color: #801323;
    }
    li{
        background-color:rgba(230, 162, 172, 0.65);
    }
}
.bg-image{
    background-image: url(/assets/images/item-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    text-align:center;
}
.expand-button{
    display: none;
    list-style: none;
    padding:0px;
    li{
        display: inline-block;
        margin: 1px 10px;
        i{
            color:#dfdfdf;
        }
        img{
            width: 19px!important;
            height:auto!important;  
            margin-top: 0px;
        }
    }
  }
  .expand-button2{
    display: none;
    list-style: none;
    padding:0px;
    li{
        display: inline-block;
        margin: 1px 10px;
        i{
            color:#dfdfdf;
        }
        img{
            width: 19px!important;
            height:auto!important;  
            margin-top: 0px;
        }
    }
  }
  .wrapper:hover .expand-button-2{
    display: block;
    position: absolute;
    top: 4px;
    background: #ffffff;
    padding: 4px;
    right: 22px;
    border-radius: 24px;
  }
  .wrapper:hover .expand-button {
    display: block;
    position: absolute;
    top: 4px;
    background: #ffffff;
    padding: 4px;
    left: 22px;
    border-radius: 24px;
  }
.deals-header{
    text-align:center;
    h4{
        border: 1px solid #bdbdbd;
        border-radius: 53px;
        padding: 6px;
        background: #ffffff;
    }
    hr{
        margin-top:-30px;
    }
}
.banner-slider{
   img{
       height:429px;
   } 
}

.slider {
    .carousel-inner {
        height: 420px;
    }
}

.card {
    cursor: pointer;
    box-shadow: none;
}

.carousel-multi-item img {
    // max-width: 177px;
    // height: 148px;
    // margin: auto;
    // margin-top: 27px;
    // text-align: center;
}

h5 {
    margin-top: 26px;
    color: black;
    font-weight: 800;
    font-size: 16px;
}

p {
    color: #76b600;
    font-size: 14px;
}

p strike {
    color: gray;
}

.fetures {
    h4 {
        color: #76b600 !important;
    }
}

.intro {
    button {
        display: block;
    }
    .data {
        background-color: #d7edcd;
        border-radius: 10px;
    }
    .intro {
        padding: 45px;
    }
    .btn {
        height: 32px;
        padding-top: 7px;
        border-radius: 34px;
        background-color: #801323 !important;
    }
    strong {
        font-weight: 800;
    }
}

.recmded {
    .fa-star {
        color: #f3c752;
        padding-left: 2px;
    }
    p {
        color: #007bff;
    }
    a {
        color: #76b600;
        font-size: 13px;
        /* margin-top: 38px; */
        position: relative;
        top: 14px;
    }
}
.deals{
    height: auto  !important;
}
.dealsAct{
    height: auto !important;
}
@media (min-width: 490.98px) and (max-width: 768px) { 
    .wrapper:hover .expand-button {
       top: 8px!important;
       left: 49px!important;
   }
   .wrapper:hover .expand-button-2 {
       top: 8px!important;
       right: 49px!important;
   }
 }
@media screen and (max-width:768px) {
    .card {
        width: 160px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:760px) {
    .card {
        width: 220px;
    }
    .carousel-inner {
        height: auto!important;
    }
}
@media (max-width: 576px){
.col-sm-6.recProds {
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media screen and (max-width:520px) {
    .card {
        width: 210px;
    }
   
}

@media screen and (max-width:490px) {
    .card {
        width: 420px;
    }
    .carousel-inner {
        height: auto;
    }
    .wrapper:hover .expand-button {
        top: 8px!important;
        left: 37px!important;
    }
    .wrapper:hover .expand-button-2 {
        top: 8px!important;
        right: 37px!important;
    }
}

@media screen and (max-width:460px) {
    .card {
        width: 390px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:430px) {
    .card {
        width: 368px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:360px) {
    .card {
        width: 300px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 300px;
    }
    .carousel-inner {
        height: auto;
    }
    @media (max-width: 576px){
        .col-sm-6.recProds {
            flex: 0 0 100%;
            max-width: 100%;
        }
        }
}

.fetures img{
width:100%;
height:200px;
}
.dummy {
    height: 360px;
    width: 97% !important;

}
.noData{
    margin-left: 48%;
}
.carousel .carousel-control-prev-icon,.carousel .carousel-control-next-icon {
    width: 60px !important;
    height: 60px !important;  
}
.carousel-control-prev{
   opacity: 1 !important;
}
.carousel-control-next{
    opacity: 1 !important;
}

// enlarge image popover


/*Eliminates padding, centers the thumbnail */



/* Styles the thumbnail */
.modal-popup-fullimage{
    box-shadow: none!important;
    border:0px!important;
    padding: 0px;
    height: auto;
    .modal-content{
        box-shadow: none!important;
        border:0px!important;
    }

}
.enlargeImg{
    .modal-header{
        border-bottom: none!important;
    }
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.large-body {
    text-align:center;
.img-fluid{
    width: 48%!important;
    height: 59%!important;
    margin-bottom: 60px;
}
}
.recProds {
    height: 304px !important;
}
button.btn.waves-effect.waves-light {
    background: #76b600;
}
.close-modal{
    .close {
        float: right;
        font-size: 40px;
        color: #fff;
        text-shadow: 0 1px 0 #fff;
        opacity: 2.5;
        margin-top: 20px;
    margin-right: 20px;
    }
}
@media (min-width: 576px){
    .modal-popup-fullimage{
        max-width: 70%;
    }
}
// .close {
//     position: absolute !important;
//     left: 72% !important;
//     top: 3% !important;
//     opacity: 1 !important;
//     color: #fff !important;
//     font-size: 31px !important;
// }
// .enlargeImg {
//     background-clip: padding-box;
//     border: 1px solid rgba(0, 0, 0, 0.2);
//     border-radius: 0.3rem;
//     outline: 0;
// }
.banImg{
    cursor: pointer;
}
/*Ulka CSs*/
@media screen and (min-width:360px) and (max-width:520px) {
    div#multi-item-example1 {margin-bottom: 0 !important;}
    .deals {height: auto !important;}
    .card {width: 50%;float: left;}
    .recommendedproducts .card {width: 100%;}
    #multi-item-example .dealsAct .card, #multi-item-example3 .dealsAct .col-lg-3.col-md-6.col-sm-6.item.recProds, #multi-item-example3 .col-lg-3.col-md-6.col-sm-6.item.recProds {width: 100%;height:300px;}
    // #multi-item-example3 .dealsAct .card{width:50%;}
}
@media screen and (min-width: 521px) and (max-width:767px){
    #multi-item-example .dealsAct .card{width: 100%;height:300px;}
    #multi-item-example6 .card, #multi-item-example3 .dealsAct .col-lg-3.col-md-6.col-sm-6.item.recProds, #multi-item-example4 .dealsAct .col-lg-3.col-md-6.col-sm-6.item.recProds {width: 50%;height:300px;}
    div#multi-item-example1 {margin-bottom: 0 !important;}
    .deals {height: auto !important;}
    .card {width: 50%;float: left;}
    .recommendedproducts .card {width: 100%;}
    .dealsAct .card{width: 50%;}
    .top-offers .dealsAct .card {width: 100%;}
 
}
@media screen and (min-width: 767px) and (max-width:991px){
    div#multi-item-example1 {margin-bottom: 0 !important;}
     #multi-item-example3 .dealsAct .col-lg-3.col-md-6.col-sm-6.item.recProds, #multi-item-example3 .col-lg-3.col-md-6.col-sm-6.item.recProds {width: 100%;height:300px;}
    .deals {height: auto !important;}
    #multi-item-example .dealsAct .card, .recommendedproducts .card {width: 100%;height:300px;}
    // .dealsAct .card{width: 50%;}
    // .card {width: 50%;float: left;}
    .carousel-multi-item img{max-width:100%;}
}
@media (min-width: 320px) and (max-width: 475px){
    #multi-item-example .carousel-inner{height:auto !important;}
    
    div#multi-item-example {margin: 0;}
} 
@media screen and (max-width: 767px){
    .carousel, .carousel-multi-item, .carousel-thumbnails{margin-bottom:10px !important;}
    .carousel-multi-item img{max-width:100%;}
    .card{
        width:100%!important;
    }
}
.product-image{
    /* max-width: 177px; */
    height: 148px;
    margin: auto;
    position: inherit;
    margin-top: 27px;
    text-align: center;
}
.bg-layer{
    width: 100%;
    height: 198px;
    position: absolute;
    top: 0px;
}
.card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.prod-name {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider-btn-left{
    box-shadow: none;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin: -8px;
    border-top-left-radius: 30px!important;
    border-bottom-left-radius: 30px!important;
    border-radius: 0px;
    padding: 0;
    border: 1px solid #b7b7b7;
}
.slider-btn-right{
    box-shadow: none;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin: 7px;
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
    border-radius: 0px;
    padding: 0;
    border: 1px solid #b7b7b7;
}
.slider-btn-left i , .slider-btn-right i{ 
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 33px !important;
}