@media (max-width: 991.98px) { 
    .form-group .cust-logbtn {
        width: 100%!important;
        margin-left: 0!important;
    }
    .banner-slider img {
        height: 100%!important;
    }
    .slider.carousel-inner {
        height: 100%!important;
    }
}
@media (min-width: 575.98px) and (max-width: 768px) { 
    .wrapper:hover .expand-button {
       top: 8px!important;
       left: 86px!important;
   }
   .wrapper:hover .expand-button-2 {
       top: 8px!important;
       right: 86px!important;
   }
 }
@media (max-width: 767.98px) { 
    .mobile-number {
        width: 38% !important;
    }
 }

 @media (max-width: 575.98px) {
    .mobile-number {
        width: 80% !important;
    }
    .wrapper:hover .expand-button {
        top: 8px!important;
        left: 182px!important;
    }
    .wrapper:hover .expand-button-2 {
        top: 8px!important;
        right: 182px!important;
    } 
 }
 @media (max-width: 490.98px) {
    .mobile-number {
        width: 76%!important;
    }
    .card {
        margin: 0px auto;
    }
    .product-image{
        height: auto!important;
    }
       .wrapper:hover .expand-button {
        top: 8px!important;
        left: 82px!important;
    }
    .wrapper:hover .expand-button-2 {
        top: 8px!important;
        right: 82px!important;
    } 
  }
  @media (min-width: 490px){
  .card {
      margin: 0px auto;
  }
  #navbar-mobile ul.navbar-nav.cust-navbarnav {
    width: 61%!important;
    float: right;
    margin: 15px 0 !important;
}
}
  
  @media (max-width: 374.98px) {

    .mobile-number {
        width: 73%!important;
    }

  }


  @media (max-width: 319.98px) {
    .mobile-number {
        width: 70%!important;
    }
  }